The Evergreen State College - Undergraduate Research in Scientific Inquiry - Automatic Speech Recognition ma ka Ōlelo Hawaiʻi
%p
= render 'dts_time_amplitude_chart', dts: @dts, pressure: false
/ = render 'dts_time_amplitude_chart', dts: @dtsc
/ = render 'dts_time_amplitude_chart', dts: @dts2
/ = render 'dts_time_amplitude_chart', dts: @dts3
/ = render 'dts_time_amplitude_chart', dts: @dts4
/ = render 'dts_time_amplitude_chart', dts: @dts5
/ = render 'dts_time_amplitude_chart', dts: @dts6
/ = render 'dts_time_amplitude_chart', dts: @dts7
/ %p
/ = render 'sound_graphic_chart', sound_graphic: @dts
/ = render 'dts_time_amplitude_chart', dts: @dts
/ %script
/ 	play(
%script
	play("#{@dts.amplitudes}")