The Evergreen State College - Undergraduate Research in Scientific Inquiry - Automatic Speech Recognition ma ka Ōlelo Hawaiʻi
%p

/ %br
/ - @dts.amplitudes.each do |a|
/ 	= a.round(2)
/ 	%br
/ %br
/ - @dts.amplitudes_granular(2).each do |a|
/ 	= a.round(2)
/ 	%br
/ %br
= render 'dts_time_amplitude_chart', dts: @dts